 .product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

.product_rating{
    display: flex;
}
.product >img{
    max-height: 200px;
    width: 100%;
    margin: 10px 0 15px 10px;
    object-fit: contain;
}
.product > button {
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.product_price {
    margin-top: 5px;
}
.product_info {
    height: 100px;
    margin-bottom: 15px;
  }
   
